<script type="text/javascript" async
  src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/assets/css/syntax.css" | prepend: site.baseurl }}">
	<meta name="description" content="A series of notebooks on topics in machine learning and statistics.">
	<div class="header">
		<hr style="border-top:5px solid black;">
		<h1 ><a href="{{ site.baseurl }}/">Completely Random Measure</a></h1>
		<hr>
	</div>
</head>
