---
---
@import url('https://fonts.googleapis.com/css?family=Roboto');

@keyframes fadein {
	from {opacity: 0;}
	to {opacity: 1;}
}

* {
	font-family:"Roboto", "Georgia","Times New Roman";
	background-color:whitesmoke;
}

a {
	color:black;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

/* a.underline:hover { */
/* 	text-decoration:none; */
/* } */

/* a.underline:after { */
/* 	content: ''; */
/* 	display:block; */
/* 	margin:auto; */
/* 	height:1px; */
/* 	width:0px; */
/* 	background:transparent; */
/* 	transition: width .5s ease, background-color .5s ease; */
/* } */

/* a.underline:hover:after { */
/* 	width:20%; */
/* 	background:lightgray; */
/* } */

.header {
	padding-top: 5%;
	width:60%;
	margin-left: auto;
	margin-right: auto;
	text-align: center !important;
}

.post-listings {
	width:60%;
	margin-left:auto;
	margin-right:auto;
	animation-name: fadein;
	animation-duration: 2s;
}

.listing-date {
	font-size:15px;
	color:#808080;
	width:30%;
	text-align:left;
}

.listing-title {
	padding-left:10%;
	padding-right:5%;
	width:70%;
	text-align:center;
	max-width:400px;
}

.post-contents {
	margin-left:auto;
	margin-right:auto;
	width: 45%;
}

.post p {
	font-size:15px;
	letter-spacing: .25px;
}

.post h2 {
	font-size:20px;
	text-decoration:underline;
	text-align:center;
}

.post a {
	color:royalblue;
}

.post img {
	border: 1px solid skyblue;
}

.footer {
	height:50px;
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	text-align: center; 
}

.no-spacing {
	margin-bottom
}

.date-row {
	width:500px;
}


td {
	word-wrap:break-word;
	height:1px;
}

table {
	table-layout: fixed;
	width:600px;;
	font-size:17px;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}

.highlight pre {
	overflow-x:auto;
	overflow-y:hidden;
	border:1px solid lightskyblue;
	padding-left:5%;
	padding-right:5%;
	padding-top:5%;
	padding-bottom:5%;
}

.mjx-chtml.MJXc-display {
	overflow-x:auto;
	overflow-y:hidden;
}

@media (max-width: 700px) {
	.header {
		width:80%;
		padding-left:10%;
		padding-right:10%;
	}
	
	.footer {
		width:80%;
		margin-left:10%;
		margin-right:10%;
	}
	
	.post-listings {
		width:100%;
	}
	
	.post-contents {
		margin-left:auto;
		margin-right:auto;
		overflow-x:wrap;
		width:95%;
		max-width:100%;
		text-align:center;
	}
	
	.highlight {
		text-align:left;
	}
}
